.keyboard {
    display: none;
    width: 100%;
    max-height: 600px;
    flex-direction: column;
    background-color: $mine-shaft;
    border: 2px solid $buddha-gold;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
    font-family: sans-serif;
    position: absolute;
    z-index: 1000;
}

.keyboard_active {
    display: flex;
}

.textwindow {
    height: 120px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-color: $buddha-gold;
    background-color: $buddha-gold;
    color: $alabaster;
    font-family: sans-serif;
}

.buttons {
    display: flex;
    flex-flow: column wrap;
}

.row {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;

    *:last-child {
        margin-right: 0;
    }
}

.key {
    user-select: none;
    display: flex;
    flex-basis: 5%;
    height: 50px;
    border-radius: 10px;
    color: $alabaster;
    background-color: $mine-shaft;
    border: 2px solid $buddha-gold;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 10px;
    transition: 0.1s;
    cursor: pointer;
}

.key:hover {
    border-width: 3px;
}

.mid {
    // width: 70px;
    flex-basis: 7%;
}

.long {
    // width: 100px;
    flex-basis: 10%;
}

.space {
    // width: 400px;
    flex-basis: 40%;
}

.active {
    background-color: $buddha-gold;
    color: $mine-shaft;
    transform: scale(0.9);
}