/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-image: url(../assets/chopik.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: brightness(40%);
          backdrop-filter: brightness(40%);
}

h1 {
  font-size: 30px;
  margin-bottom: 10;
}

h3 {
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea {
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 2rem;
}

.content {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.loadscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 9999;
  font-size: 60px;
  color: black;
}

.loadscreen_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

@media screen and (max-width: 767px) {
  .header__left {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
}

@media screen and (max-width: 1020px) {
  .header__right {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .header__right {
    width: 100%;
  }
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: relative;
}

.search-form__input {
  height: 44px;
  border-radius: 8px;
  background-color: #4C5255;
  opacity: 0.7;
  outline: none;
  border: none;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  padding: 10px;
  padding-right: 100px;
}

.search-form__input:focus {
  opacity: 1;
}

.search-form__send {
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  font-weight: 700;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-right: 0 !important;
  width: 100px !important;
}

.error-box {
  color: orange;
  font-weight: 700;
  height: 20px;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.main__left {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .main__left {
    width: 100%;
  }
}

.temp-info__country {
  font-size: 44px;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .temp-info__country {
    font-size: 25px;
    white-space: normal;
  }
}

.temp-info__date {
  font-size: 24px;
}

.temp-info__temp-today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media screen and (max-width: 1020px) {
  .temp-info__temp-today {
    height: 150px;
  }
}

@media screen and (max-width: 767px) {
  .temp-info__temp-today {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
}

.temp-info__now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 258px;
  margin-bottom: -35px;
  margin-right: 50px;
  position: relative;
}

@media screen and (min-width: 1021px) {
  .temp-info__now {
    margin-top: 25px;
  }
}

@media screen and (max-width: 1020px) {
  .temp-info__now {
    font-size: 150px;
    margin-right: 10px;
    height: 150px;
  }
}

@media screen and (max-width: 767px) {
  .temp-info__now {
    font-size: 100px;
    margin-top: 25px;
  }
}

.temp-info__img-now {
  margin-bottom: -15px;
  margin-top: -40px;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 1020px) {
  .temp-info__img-now {
    width: 150px;
    height: 150px;
    margin-bottom: -40px;
  }
}

@media screen and (max-width: 767px) {
  .temp-info__img-now {
    width: 100px;
    height: 100px;
  }
}

.temp-info__forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 22px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.temp-info__forecast span {
  margin-top: 8px;
}

@media screen and (max-width: 1020px) {
  .temp-info__forecast {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .temp-info__forecast {
    font-size: 10px;
  }
}

.temp-info__overcast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1020px) {
  .temp-info__overcast {
    font-size: 18px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.temp-info__temp-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.temp-info__temp-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.temp-info__img {
  height: 70px;
}

@media screen and (max-width: 1020px) {
  .temp-info__img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .temp-info__img {
    width: 40px;
    height: 40px;
  }
}

.temp-info__day {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .temp-info__day {
    font-size: 12px;
  }
}

.temp-info__info {
  position: relative;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.temp-info__temp {
  font-size: 66px;
}

@media screen and (min-width: 1021px) {
  .temp-info__temp {
    margin-top: 15px;
  }
}

@media screen and (max-width: 1020px) {
  .temp-info__temp {
    font-size: 60px;
  }
}

@media screen and (max-width: 767px) {
  .temp-info__temp {
    font-size: 30px;
  }
}

.main__right {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1020px) {
  .main__right {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .main__right {
    width: 100%;
  }
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .map {
    width: 100%;
    height: 200px;
  }
}

.map__mask {
  width: 100%;
  height: 90%;
  background-color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media screen and (max-width: 767px) {
  .map__mask {
    border-bottom-right-radius: 8px;
  }
}

.map__triangle {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #efe9e1 transparent transparent;
}

@media screen and (max-width: 767px) {
  .map__triangle {
    display: none;
  }
}

.coordinates {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
  font-size: 20px;
}

@media screen and (max-width: 1020px) {
  .coordinates {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .coordinates {
    font-size: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.keyboard {
  display: none;
  width: 100%;
  max-height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333333;
  border: 2px solid #c3a000;
  border-radius: 10px;
  margin-top: 25px;
  padding: 10px;
  font-family: sans-serif;
  position: absolute;
  z-index: 1000;
}

.keyboard_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textwindow {
  height: 120px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-color: #c3a000;
  background-color: #c3a000;
  color: #f8f8f8;
  font-family: sans-serif;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row *:last-child {
  margin-right: 0;
}

.key {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  height: 50px;
  border-radius: 10px;
  color: #f8f8f8;
  background-color: #333333;
  border: 2px solid #c3a000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin-right: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.key:hover {
  border-width: 3px;
}

.mid {
  -ms-flex-preferred-size: 7%;
      flex-basis: 7%;
}

.long {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.space {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.active {
  background-color: #c3a000;
  color: #333333;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  height: 44px;
  background-color: #aeb5b9;
  opacity: 0.7;
  width: 44px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  opacity: 0.7;
}

.btn__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  height: 44px;
  width: 100px;
  font-weight: 700;
  color: white;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn__lang span {
  padding: 5px;
  opacity: 0.7;
  background-color: #aeb5b9;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__lang span:hover {
  opacity: 1;
}

.btn__lang span:active {
  opacity: 0.7;
}

.btn__lang span:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.btn__lang span:nth-child(3) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn__lang span:nth-child(2) {
  border-left: 1px solid #4C5255;
  border-right: 1px solid #4C5255;
}

.btn__lang span:nth-child(2) {
  border-left: 1px solid #4C5255;
  border-right: 1px solid #4C5255;
}

.btn__tempscale {
  width: 44px;
  position: relative;
  overflow: hidden;
  background-color: #aeb5b9;
}

@media screen and (max-width: 767px) {
  .btn__tempscale {
    margin-right: 0;
  }
}

.btn__mic {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn__mic img {
  width: 15px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

.btn__mic_active {
  opacity: 1;
  background-color: orange;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn__mic_active img {
  -webkit-animation: shake 0.3s infinite;
          animation: shake 0.3s infinite;
}

.btn__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.btn__pic img {
  width: 50%;
}

.btn__pic img:hover {
  -webkit-animation: rotate linear 0.6s infinite;
          animation: rotate linear 0.6s infinite;
}
/*# sourceMappingURL=main.css.map */