/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #333333;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

h1 {
  font-size: 30px;
  margin-bottom: 10;
}

h3 {
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea {
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 2rem;
}

.content {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  z-index: 999;
  border-bottom: 2px solid #c3a000;
}

.header__left,
.header__center,
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
}

.burger {
  width: 25px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 15;
}

.burger span {
  background-color: #c3a000;
  width: 100%;
  height: 2.5px;
  display: block;
  border-radius: 50px;
  margin: auto;
}

.burger span::before {
  position: absolute;
  content: '';
  display: block;
  height: 2.5px;
  width: 25px;
  background-color: #c3a000;
  border-radius: 50px;
  -webkit-transform: translate(0, 6px);
          transform: translate(0, 6px);
}

.burger span::after {
  position: absolute;
  content: '';
  display: block;
  height: 2.5px;
  width: 25px;
  background-color: #c3a000;
  border-radius: 50px;
  -webkit-transform: translate(0, -6px);
          transform: translate(0, -6px);
}

.burger_active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.burger-menu {
  z-index: 10;
  height: 100vh;
  padding: 30px;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: -300px;
  top: 0;
  background-color: #333333;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-right: 2px solid #927E25;
}

.burger-menu .burger-menu__link {
  color: #c3a000;
  font-size: 20px;
  margin: 10px;
}

.burger-menu .burger-menu__link:hover {
  color: #927E25;
}

.burger-menu .burger-menu__link_active {
  text-decoration: underline;
}

.burger-menu_active {
  top: 0;
  left: 0;
}

.header__center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.train-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 80px;
  border: 1px solid #c3a000;
  border-radius: 15px;
  position: relative;
  color: #c3a000;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.train-box .train-box__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -40px;
  width: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.train-box .train-box__switch {
  height: 100%;
  width: 20px;
  background-color: #c3a000;
  border-radius: 15px;
  position: absolute;
  left: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.body_play header {
  background-color: #c3a000;
  border-bottom: 2px solid #333333;
}

.body_play .burger span {
  background-color: #333333;
}

.body_play .burger span::before {
  background-color: #333333;
}

.body_play .burger span::after {
  background-color: #333333;
}

.body_play .burger-menu {
  background-color: #c3a000;
  border-color: #333333;
}

.body_play .burger-menu a {
  color: #333333;
}

.body_play .train-box {
  border: 1px solid #333333;
  color: #333333;
}

.body_play .train-box .train-box__switch {
  left: 60px;
  background-color: #333333;
}

.body_play .train-box__labels {
  left: 10px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

.status-bar {
  padding: 0 10px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.star {
  height: 30px;
}

.buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.endgame-popup {
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.endgame-popup span {
  font-size: 20px;
  color: #333333;
  margin-bottom: 10px;
}

.head-buttons:hover {
  background-color: #c3a000;
  color: #333333;
  cursor: pointer;
}

table {
  border: 1px solid #c3a000;
  color: #c3a000;
}

table td {
  border: 2px solid #c3a000;
  padding: 2px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  table {
    font-size: 10px;
  }
}

.body_play {
  background-color: #c3a000;
}

.body_play table {
  border-color: #333333;
  color: #333333;
}

.body_play td {
  border-color: #333333;
}

.body_play .head-buttons:hover {
  background-color: #333333;
  color: #c3a000;
}

.word-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 290px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid #c3a000;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #c3a000;
  cursor: pointer;
}

.word-card__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  background-color: #c3a000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.word-card__image {
  left: 75px;
  top: 25px;
  height: 150px;
  width: 150px;
  background-color: #333333;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #927E25;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../assets/1.jpg");
  background-position: center;
  background-size: cover;
}

.word-card__image img {
  height: 100%;
}

.word-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.word-card__translate {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  -webkit-mask-image: url("../assets/img/sync-alt-solid.svg");
          mask-image: url("../assets/img/sync-alt-solid.svg");
  width: 20px;
  height: 20px;
  background-color: #c3a000;
  cursor: pointer;
}

.word-card__translation {
  display: none;
  top: -290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #c3a000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  color: #333333;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.word-card__translation_active {
  top: 0;
}

@media screen and (max-width: 767px) {
  .word-card {
    margin: 0;
    margin-bottom: 10px;
  }
}

.word-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.body_play .word-card {
  color: #333333;
  border-color: #333333;
}

.body_play .word-card__background {
  background-color: #333333;
}

.body_play .word-card__image {
  border-color: #303030;
}

.body_play .word-card__description {
  color: #333333;
}

.body_play .word-card__translate {
  display: none !important;
}

.body_play .play-card_answered {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.body_play .play-card .word-card__background {
  background-color: #333333;
  height: 254px;
}

.body_play .play-card .word-card__description {
  height: 0;
}

.body_play .play-card .word-card__description h3 {
  display: none;
}

.play-card {
  cursor: default;
}

.play-card .word-card__image {
  width: 100%;
  height: 100%;
  background-color: #333333;
  position: static;
  border-radius: 0;
  border-width: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.play-card .word-card__translation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.play-card .word-card__translate {
  display: inline-block;
}

.start-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 30px;
  background-color: #333333;
  color: #c3a000;
  border-radius: 15px;
  position: relative;
  bottom: 70px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 15;
}

.start-btn div {
  display: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.start-btn span:nth-child(2) {
  display: none;
}

.start-btn_repeat-word {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.start-btn_repeat-word div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-mask-image: url("../assets/img/redo-solid.svg");
          mask-image: url("../assets/img/redo-solid.svg");
  background-color: #c3a000;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.start-btn_repeat-word span:first-child {
  display: none;
}

@media screen and (max-width: 767px) {
  .start-btn_repeat-word .start-btn__play {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .start-btn {
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
  }
  .start-btn span:nth-child(1) {
    display: none;
  }
  .start-btn span:nth-child(2) {
    display: inline;
  }
}

.start-btn:hover,
.clear-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.clear-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #333333;
  background-color: #c3a000;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.body_play .clear-btn {
  color: #c3a000;
  background-color: #333333;
}

.body_play .start-btn {
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .body_play .start-btn {
    bottom: 0px;
  }
}
/*# sourceMappingURL=main.css.map */