.main__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        width: 100%;
    }
}

.main__left {
    width: 600px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.temp-info__country {
    font-size: 44px;
    white-space: nowrap;

    @media screen and (max-width: 767px) {
        font-size: 25px;
        white-space: normal;
    }
}

.temp-info__date {
    font-size: 24px;
}

.temp-info__temp-today {
    display: flex;
    margin-bottom: 50px;

    @media screen and (max-width: 1020px) {
        height: 150px;
    }

    @media screen and (max-width: 767px) {
        justify-content: space-between;
        margin-bottom: 10px;
    }
}

.temp-info__now {
    display: flex;
    font-size: 258px;
    margin-bottom: -35px;
    margin-right: 50px;
    position: relative;
    
    @media screen and (min-width: 1021px) {
        margin-top: 25px;
    }

    @media screen and (max-width: 1020px) {
        font-size: 150px;
        margin-right: 10px;
        height: 150px;
    }

    @media screen and (max-width: 767px) {
        font-size: 100px;
        margin-top: 25px;
    }
}

.temp-info__img-now {
    margin-bottom: -15px;
    margin-top: -40px;
    width: 200px;
    height: 200px;

    @media screen and (max-width: 1020px) {
        width: 150px;
        height: 150px;
        margin-bottom: -40px;
    }

    @media screen and (max-width: 767px) {
        width: 100px;
        height: 100px;
    }
}

.temp-info__forecast {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    justify-content: flex-end;

    span {
        margin-top: 8px;
    }

    @media screen and (max-width: 1020px) {
        font-size: 18px;
    }

    @media screen and (max-width: 767px) {
        font-size: 10px;
    }
}

.temp-info__overcast {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1020px) {
        font-size: 18px;
        flex-direction: row;
    }
}

.temp-info__temp-days {
    display: flex;
    justify-content: space-between;
}

.temp-info__temp-day {
    display: flex;
    flex-direction: column;
}

.temp-info__img {
    height: 70px;

    @media screen and (max-width: 1020px) {
        width: 50px;
        height: 50px;
    }

    @media screen and (max-width: 767px) {
        width: 40px;
        height: 40px;
    }
}

.temp-info__day {
    font-size: 22px;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}

.temp-info__info {
    position: relative;
    width: 100px;
    display: flex;
}

.temp-info__temp {
    font-size: 66px;
    
    @media screen and (min-width: 1021px) {
        margin-top: 15px;
    }

    @media screen and (max-width: 1020px) {
        font-size: 60px;
    }

    @media screen and (max-width: 767px) {
        font-size: 30px;
    }
}

.main__right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    align-items: flex-end;

    @media screen and (max-width: 1020px) {
        margin-left: 0;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.map {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    justify-content: flex-end;
    overflow: hidden;

    @media screen and (max-width: 767px) {
        width: 100%;
        height: 200px;
    }
}

.map__mask {
    width: 100%;
    height: 90%;
    background-color: $white;
    align-self: flex-end;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;

    @media screen and (max-width: 767px) {
        border-bottom-right-radius: 8px;
    }
}

.map__triangle {
    // width: 20%;
    // height: 10%;
    // background-color: red;
    align-self: flex-end;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 25px 0;
    border-color: transparent rgb(239, 233, 225) transparent transparent;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.coordinates {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 20px;

    @media screen and (max-width: 1020px) {
        font-size: 15px;
    }

    @media screen and (max-width: 767px) {
        font-size: 12px;
        flex-direction: row;
        justify-content: space-between;
    }
}

// 767