.header__content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    // padding-bottom: 20px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        width: 100%;
    }
}

.header__left {
    display: flex;
    width: 30%;

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 10px;
        justify-content: space-between;
    }
}

.header__right {
    display: flex;
    width: 35%;

    @media screen and (max-width: 1020px) {
        width: 50%;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    
}

.search-form__input {
    height: 44px;
    border-radius: 8px;
    background-color: #4C5255;
    opacity: 0.7;
    outline: none;
    border: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: $white;
    padding: 10px;
    padding-right: 100px;

    &:focus {
        opacity: 1;
    }
}

.search-form__send {
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    position: absolute;
    right: 0;
    font-weight: 700;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-right: 0 !important;
    width: 100px !important;
}

.error-box {
    color:orange;
    font-weight: 700;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}