main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-screen {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 60px;
        font-weight: 300;
        letter-spacing: 10px;
        margin-bottom: 30px;
        user-select: none;
    }

    p {
        font-weight: 400;
        margin-bottom: 5px;
        user-select: none;
    }
}