.footer {
    border-top: 2px solid $buddha-gold;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $buddha-gold;

    a {
        color: $buddha-gold;
    }
}